<div class="footer">
  <div class="container">
    <div class="row">
      <div class="back-to-top">
        <hr />
        <div class="click-button">
          <div class="col">
            <a
              href="javascript:scroll(0, 0)"
              class="btn btn-primary btn-lg btn-back-to-top"
              >{{ footerBackToTop }}</a
            >
          </div>
        </div>
        <hr />
      </div>
    </div>

    <div class="row">
      <div class="footer-social-icons">
        <div class="row">
          <div class="col">
            <a class="white-link" href="{{ footerInstagram }}"
              ><i class="fa fa-instagram hover-footer"></i
            ></a>
          </div>
          <div class="col">
            <a class="white-link" href="{{ footerTwitter }}"
              ><i class="fa fa-twitter hover-footer"></i
            ></a>
          </div>
          <div class="col">
            <a class="white-link" href="{{ footerLinkedin }}"
              ><i class="fa fa-linkedin hover-footer"></i
            ></a>
          </div>
          <div class="col">
            <a class="white-link" href="{{ footerEmail }}"
              ><i class="fa fa-envelope hover-footer"></i
            ></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="signature">
        <p>{{ signature }}</p>
      </div>
    </div>
  </div>
</div>
