<div class="nocontainer" style="background-image: url(/assets/background.png)">
  <div class="container">
    <div class="header">
      <app-nav></app-nav>
    </div>
    <app-header></app-header>
  </div>
</div>

<!--  -->

<app-start></app-start>

<!--  -->

<div class="about" style="padding-top: 50px">
  <div class="container">
    <app-about></app-about>

    <app-discover></app-discover>

    <br />
    <app-media></app-media>
  </div>

  <div class="container">
    <app-contact></app-contact>
  </div>

  <br />
  <div style="margin-bottom: 70px"></div>

  <app-footer></app-footer>
</div>
