<div class="text-center" id="discovery">
  <button type="button" disabled class="btn btn-dark title-button">
    <p style="font-size: xx-large; margin-top: 5px">KEŞFETMEK</p>
  </button>
</div>
<hr />
<div class="row" style="margin-top: 70px">
  <div class="col-md-6" style="text-align: center">
    <h3>{{ discoverOneTitle }}</h3>
    <p>
      {{ discoverOneDescription }}
    </p>
  </div>
  <div class="col-md-6" style="text-align: center">
    <h3>{{ discoverTwoTitle }}</h3>
    <p>
      {{ discoverTwoDescription }}
    </p>
  </div>
  <div class="row" style="margin-top: 50px; text-align: center">
    <h3>{{ discoverThreeTitle }}</h3>
    <p>
      {{ discoverThreeDescription }}
    </p>
  </div>
</div>
